*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.flex{
    display:flex;
}
.center{
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    background-color: #132f45;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
}
.logo{
    margin: 20px 0;
    height: 60px;
    width: 60px;
}
.logo img{
    height: 100%;
    width: auto;
}
.button{
    height: 40px;
    width: 80px;
    border-radius: 20px;
}
.btn1{
    color: white;
    border: 2px solid white;
}
.btn2{
    color: black;
    border: 2px solid cyan;
    background-color: cyan;
    margin-left: 10px;
}
.drop{
    height: 60px;
    width: 50px;
    color: white;
    display: none;
}
.drop:hover{
    cursor: pointer;
}
.hero{
    height: calc(100vh - 100px);
    background-image: url(https://wallpaperaccess.com/full/2552390.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroCont{
    height: 50%;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
.heroBtn{
    height: 60px;
    width: 200px;
    background-color: orange;
    color:white;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
.heroCont h1{
    height: 30%;
    text-align: center;
    font-size: 50px;
    color: white;
}
.heroCont p{
    text-align: center;
    vertical-align: middle;
    height: 40%;
    font-size: 17px;
    color: white;
    overflow: hidden;
    line-height: 25px;
    padding-bottom: 10px;
}
.cards{
    padding: 60px 0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 48%, rgba(117,9,9,1) 100%);
}
.card{
    height: 700px;
    width: 450px;
    min-width: 250px;
    border: transparent;
    border-radius: 50px;
    box-shadow: 0px 8px 10px gray, -10px 8px 15px gray, 10px 8px 15px gray;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
}
.card1{
    background-image: url("https://cdn.vox-cdn.com/thumbor/F17eIeAC3wbAyAEd8iz_HyEGbDY=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/23299499/MicrosoftTeams_image_61__copy.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    transition: all 2s ease;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.7, 1);
}
.card1:hover{
    box-shadow: 0px 0px 10px 15px red;
    transform: scale(1.1);
    cursor: pointer;
}
.card2:hover{
    box-shadow: 0px 0px 10px 15px #03A062;
    transform: scale(1.1);
    cursor: pointer;
}
.card3:hover{
    box-shadow: 0px 0px 10px 15px rgb(63, 108, 175);
    transform: scale(1.1);
    cursor: pointer;
}
.card2{
    background-image: url(https://wallpaperaccess.com/full/2853747.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    transition: all 1.5s;
}
.card3{
    background-image: url(https://wallpaperaccess.com/full/1743662.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: 30%;
    background-position-y: center;
    transition: all 1.5s;
}
.card h1{
    text-transform: bold;
}
h4{
    text-decoration: underline;
    text-align: center;
}
.card p{
    margin: 25px 25px;
    font-size: 15px;
    text-align: center;
}
h5{
    font-size: 20px;
    color: gray;
    font-style: italic;
}
.deep{
    justify-content: center;
}
.starWars{
    background-image: url(https://parade.com/wp-content/uploads/2022/03/Screen-Shot-2022-03-22-at-12.49.08-PM.png);
    background-position: center;
}
.matrix{
    background-image: url(https://static.techspot.com/images2/news/bigimage/2019/08/2019-08-21-image-2.jpg);
    background-position-x: 0;
}
.warcraft{
    background-image: url(https://wallpapercave.com/wp/wp2659758.jpg);
    background-position: center;
}
.bG{
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    width: 50%;
}
.swText{
    height: 50vh;
    width: 50%;
    background-color: rgb(53, 53, 53);
    color: white;
    font-size: 20px;
    text-align: center;
    overflow: scroll;
}
.mText{
    height: 50vh;
    width: 50%;
    background-color: rgb(18, 65, 29);
    color: white;
    font-size: 20px;
    text-align: center;
    overflow: scroll;
}
.wcText{
    height: 50vh;
    width: 50%;
    background-color: rgb(15, 21, 211);
    color: white;
    font-size: 20px;
    text-align: center;
    overflow: scroll;
}
.swText div{
    height: 60%;
    width: 50%;
    line-height: 30px;
}
.mText div{
    height: 70%;
    width: 50%;
    line-height: 30px;
}
.wcText div{
    height: 60%;
    width: 50%;
    line-height: 30px;
}
.nav{
    display: none;
    flex-direction: column;
}
.navItem{
    max-width: 100vw;
    padding-right: 50px;
    justify-content: flex-end;
    align-items: center;
    height: 20px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
.nav1{
    background-color:rgb(53, 53, 53)
}
.nav2{
    background-color: red;
}
.nav3{
    background-color: #03A062;
}
.nav4{
    background-color: rgb(63, 108, 175);
}
.sticky-container{
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 9999;
    display: none;
}
.sticky-container a{
    display: block;
    height: 40px;
    width: 40px;
}
.sticky-container img {
    max-height: 100%;
}



@media screen and (max-width: 800px) {
    .hide{
        display: none;
    }
    .drop{
        display: block;
    }
    header{
        justify-content: space-between;
        padding: 0 50px;
    }
    .heroCont{
        height: 70%;
        width: 80%;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-bottom: 30px;
    }
    #sw{
        flex-direction: column;
    }
    #warcraft{
        flex-direction: column;
    }
    #matrix{
        flex-direction: column-reverse;
    }
    .deep div{
        width: 100vw;
    }
    .nav{
        display: block;
    }
    .mText div{
        width: 50%;
        font-size: 13px;
    }
    .swText div{
        width: 50%;
        font-size: 13px;
    }
    .wcText div{
        width: 50%;
        font-size: 15px;
    }
    .sticky-container{
        display: block;
    }
}